[submodule "vendor/github.com/docker/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/docker/docker
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/ethereum/go-ethereum"]
	path = vendor/github.com/ethereum/go-ethereum
	url = https://github.com/ethereum/go-ethereum
[submodule "vendor/github.com/orbs-network/orbs-network-go"]
	path = vendor/github.com/orbs-network/orbs-network-go
	url = https://github.com/orbs-network/orbs-network-go
